# Django core
SECRET_KEY=adjsfhiuahknasdfaksdrh7557475^&*%&^$&%98asdfkjasdbf&*%&^%jhisdhf^767765765
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Database
DB_NAME=samanyastra_books_dev
DB_USER=postgres
DB_PASSWORD=India-central-aws
DB_HOST=india-central-aws.czqaaw82ka3w.ap-south-1.rds.amazonaws.com
DB_PORT=5432

# Razorpay
RAZORPAY_KEY_ID=rzp_test_SyIXRZXWRWdnTF
RAZORPAY_KEY_SECRET=2sh37ijAXdCtBHRomVIj1D1E

# Outlook
OUTLOOK_TENANT_ID=your-tenant-id
OUTLOOK_CLIENT_ID=your-client-id
OUTLOOK_CLIENT_SECRET=your-client-secret

# Mail service
MAIL_SERVICE_URL=http://127.0.0.1:8000
MAIL_SERVICE_APP_ID=your-app-id
MAIL_SERVICE_APP_SECRET=your-app-secret
DEFAULT_FROM_MAIL=noreply@samanyastra.com
