asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
Django==6.0.6
django-environ==0.13.0
djangorestframework==3.17.1
idna==3.18
pillow==12.2.0
psycopg2-binary
razorpay==2.0.1
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
whitenoise==6.9.0
gunicorn


# storages
azure-storage-blob==12.25.0
django-storages==1.14.5
django-cors-headers==4.6.0
./django_messaging-0.1-py3-none-any.whl
./samanyastra_sso_integration-0.1.0-py3-none-any.whl